$def with (drivename, extras, elapsed_backup, elapsed_restore, restoreform, successtime, failtime, last_is_success)
<!DOCTYPE HTML>
<html>
<head>
<title>
InnoBox Backup Control
</title>
$if elapsed_backup is not None or elapsed_restore is not None:
	<meta http-equiv="refresh" content="5">
</head>
<body>
Nightly backup is enabled.  The current backup drive is $drivename.
<br>
Most recent successful backup: $successtime.
<br>
Most recent failed backup: $failtime.
$if not last_is_success:
	<br>
	WARNING: Last backup failed.  Your backup system may not be
	functioning properly.
<br>
$if elapsed_backup is None and elapsed_restore is None:
	<form name="backupbutton" method="post"> 
	<button name="backup">Force immediate backup</button>
	</form>
$elif elapsed_backup is not None:
	<form name="backupbutton" method="post"> 
	<button name="backup_disabled" disabled="disabled">Backup in progress</button>
	</form>
$else:
	<form name="backupbutton" method="post"> 
	<button name="backup_disabled" disabled="disabled">Restore in progress</button>
	</form>

$if extras:
	<br>
	WARNING: Additional backup drives detected.  Please remove all
	backup drives other than the one you wish to use.
$if elapsed_backup is not None:
	<br>System backup in progress.  Elapsed time: $elapsed_backup
$if elapsed_restore is not None:
	<br>System restore in progress.  Elapsed time: $elapsed_restore
<br>
System backups are available for the following dates:
<form name="restoreform" method="post">
$:restoreform.render()
$if elapsed_backup is None and elapsed_restore is None:
	<button name="restore">Restore the system to the selected date</button>
$elif elapsed_backup is not None:
	<button name="restore_disabled" disabled="disabled">Backup in progress</button>	
$else:
	<button name="restore_disabled" disabled="disabled">Restore in progress</button>
</form>
</body>
</html>
