$def with (drivename, extras, restoreform, successtime, failtime, last_is_success)
<!DOCTYPE HTML>
<html>
<head>
<title>
InnoBox Backup Control
</title>
<link rel="stylesheet" href="/backup/static/style.css"/>
</head>

<body>
<h1>InnoBox Backup Control - Main Page</h1>

<p><div class="infobox">Nightly backup is enabled.  The current backup drive is $drivename.</div></p>

<p><div class="infobox">
Most recent successful backup: $successtime.
<br/>
Most recent failed backup: $failtime.
</div></p>

$if not last_is_success:
	<p><div class="alertbox">
	WARNING: Last backup failed.  Your backup drive may not be
	functioning properly.
	</div></p>

<p><div class="controlbox">
If you want to make a backup of the system in its present state, click here.
A snapshot (restore point) of all system state will be recorded immediately
to your backup drive. The system supports one backup or restore process at a time.
<form name="backupbutton" method="post"> 
<button name="backup">Trigger immediate backup</button>
</form>
</div></p>

$if extras:
	<p><div class="alertbox">
	WARNING: Additional backup drives detected.  Please remove all
	backup drives other than the one you wish to use.
	</div></p>

<p><div class="controlbox">
You can restore the system to a previous state by selecting one of the available
restore points on the attached backup drive.
<form name="restoreform" method="post">
$:restoreform.render()
<button name="restore">Restore the system to the selected date</button>
</form>
</div></p>

</body>
</html>
