<!DOCTYPE HTML>
<html>
<head>
<title>
InnoBox Backup Control
</title>
<link rel="stylesheet" href="/backup/static/style.css"/>
<link rel="stylesheet" href="/backup/static/failure-style.css"/>
</head>

<body>
<h1>InnoBox Backup Control - Backup Failure</h1>

<div class ="navbar"><a href="/">Return to Device</a> <a href="/backup">Backup Controls</a> <a href="/backupinfo">Status</a></div>

<p><div class="alertbox">
<strong> Backup failed to initiate.</strong>  Please check that your backup drive is connected. If it is connected,  
  this error may indicate that the backup drive has
experienced a hardware failure, in which case it must be replaced.
</div></p>

<form method="get">
<button name="return">Return to main backup page</button>
</form>

</body>
</html>
