$def with (drivename, extras, elapsed_backup, elapsed_restore, dates, successtime, failtime, last_is_success)
<!DOCTYPE HTML>
<html>
<head>
<title>
InnoBox Backup Information
</title>
<link rel="stylesheet" href="/backup/static/style.css"/>
$if elapsed_backup is not None or elapsed_restore is not None:
	<meta http-equiv="refresh" content="5">
</head>

<body>
<h1>InnoBox Backup Information</h1>
$if drivename is not None:
	<p><div class="infobox">Nightly backup is enabled.  The current backup drive is mounted at $drivename.</div></p>
$else:
	<p><div class="alertbox">
	No backup drive recognized.  Backup is currently disabled.  If your backup
	drive is correctly connected, then this may indicate that the drive has
	experienced a hardware failure and must be replaced.
	</div></p>

<p><div class="infobox">
Most recent successful backup: $successtime.
<br/>
Most recent failed backup: $failtime.
</div></p>

$if not last_is_success:
	<p><div class="alertbox">
	WARNING: Last backup failed.  Your backup system may not be
	functioning properly.
	</div></p>

$if extras:
	<p><div class="alertbox">
	WARNING: Additional backup drives detected.  Please remove all
	backup drives other than the one you wish to use.
	</div></p>

$if elapsed_backup is not None:
	<p><div class="infobox">System backup in progress.  Elapsed time: $elapsed_backup</div></p>

$if elapsed_restore is not None:
	<p><div class="infobox">System restore in progress.  Elapsed time: $elapsed_restore</div></p>

$if elapsed_backup is None and elapsed_restore is None:
	<p><div class="infobox">
	$if dates is None or len(dates)==0:
		No system backups are available.
	$else:
		System backups are available for the following dates:
		<ol>
		$for epoch, date in dates:
			<li>$date</li>
		</ol>
		</div></p>

<p>
If you are authorized to administer the backup and restore settings,
you may <a href="/backup">click here</a> to do so.
</p>

</body>
</html>
