<!DOCTYPE HTML>
<html>
<head>
<title>
InnoBox Backup Control
</title>
<link rel="stylesheet" href="/backup/static/style.css"/>
<link rel="stylesheet" href="/backup/static/failure-style.css"/>
</head>

<body>
<h1>InnoBox Backup Control - Backup Failure</h1>

<p><div class="alertbox">
Backup failed to initiate.  Please check that your backup drive is connected
and functioning correctly.  This error may indicate that the backup drive has
experienced a hardware failure, in which case it must be replaced.
</div></p>

<form method="get">
<button name="return">Return to main backup page</button>
</form>

</body>
</html>
