$def with (datecode, human_date)

You have requested to restore your system to the state from $human_date.
This procedure will erase all data after that time.  Only continue if you are
sure that you want to perform the restore procedure.
<br>
WARNING: Any changes made BY ANY USER after $human_date WILL BE LOST!
<br>
Are you sure you want to restore the system to the state from $human_date ?
<br>
<form method="get">
<button name="return">No, just return to main backup page</button>
</form>
<form method="post">
<button name="backup">No, just make a backup of the current system now</button>
</form>
<form method="post">
<button name="reallyrestore" value="$datecode">Yes, perform the restore procedure</button>
</form>
