$def with (datecode, human_date)
<!DOCTYPE HTML>
<html>
<head>
<title>
InnoBox Backup Control
</title>
<link rel="stylesheet" href="/backup/static/style.css"/>
</head>

<body>
<h1>InnoBox Backup Control - Confirm Restore Action</h1>

<p>
You have requested to restore your system to the restore point from $human_date.
This procedure will erase all data after that time.  Only continue if you are
sure that you want to perform the restore procedure.
</p>

<p><div class="alertbox">
WARNING: Any changes made BY ANY USER after $human_date WILL BE LOST!
</div></p>

<p><div class="controlbox">
<p>Are you sure you want to restore the system to the restore point from $human_date ?</p>
<p>
<form method="get">
<button name="return">No, just return to main backup page</button>
</form>
<form method="post">
<button name="backup">No, just make a backup of the current system now</button>
</form>
<form method="post">
<button name="confirmrestore" value="$datecode">Yes, perform the restore procedure</button>
</form>
</p>
</div></p>

</body>
</html>
