<!DOCTYPE HTML>
<html>
<head>
<title>
InnoBox Backup Control
</title>
<link rel="stylesheet" href="/backup/static/style.css"/>
<link rel="stylesheet" href="/backup/static/failure-style.css"/>
</head>

<body>
<h1>InnoBox Backup Control - Restore Failure</h1>

<p><div class="alertbox">
<strong>Restore failed to initiate.</strong>  This failure may indicate a hardware problem with
your backup drive.
</div></p>

<form method="get">
<button name="return">Return to main backup page</button>
</form>

</body>
</html>
